@import "./global/mixins"
@import "./global/classes"
@import "./global/media"
@import "./global/normalize"

@import "./makeup/shape"
@import "./makeup/fonts"
@import "./makeup/z-index"
@import "./makeup/elements"

// @import "./makeup/sprite"

@import "./global/globals"
@import "./vendor/*"

@import "../libs/components/Loader/Loader"

@import "../components/**/*"
