.homeHero
  padding 0 2rem
  display table
  height 60rem
  width 100%
  min-height 85vh



  .homeHeroMiddle
    background-color ft_green
    color #fff
    display table-cell
    vertical-align middle

  .homeHeroInner
    width 90%
    margin auto
    text-align center

    .row
      margin auto
      width 100%
      max-width 100rem

    .slogan
      margin-top 5rem

      h2
        font-size 6rem
        font-family asapbold, Helvetica, Arial, san-serif
