.top-bar
  height 6rem
  line-height 6rem
  position fixed
  top 0
  left 0
  width 100%

  a
    text-decoration none

  .title-area
    float left
    margin-left 2rem
    display: inline-block

    h1
      font-size 1.7rem
      font-family asapbold, Helvetica, Arial, san-serif
      text-transform uppercase
      letter-spacing 0.3rem

      .circle
        background-color ft_green
        display inline-block
        width 1.4rem
        height 1.4rem
        border-radius 1.4rem


  .right
    float right
    margin-right 2.5rem
    font-family asap, Helvetica, Arial, san-serif

    .sign-up
    .login
      margin-left 2rem
      display inline-block

    .button
      color #fff
      padding 0.66rem 2rem
      border-radius 10rem
      background-color ft_green
      border-color #3a9465



