$rounded-button
  border-radius 1000px
  border-color ft_dark_green
  border-style solid
  border-width 0
  cursor pointer
  background-color ft_green
  color #fff
  text-decoration none
  text-align center
  transition background-color 300ms ease-out

  &:hover
    background-color ft_dark_green

  &:focus
    outline none
