/**
 * Available fonts:
 *
 * font-family: 'Carrois Gothic', sans-serif;
 * font-family: 'Pathway Gothic One', sans-serif;
 * font-family: 'Didact Gothic', sans-serif;
 * font-family: 'Lobster', sans-serif;
 */

$base-text
    color #000
    font-family fjordone, Helvetica, Arial, san-serif
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

#page-wrapper
    @extend $base-text

a
    color #000

$copy
    font-family 'Pathway Gothic One', sans-serif
    font-size: baseFontSize
    line-height: 1.618
    font-weight: weights['regular']
